{% include base_path %}
<script type="text/javascript" src="//cdn.thisiswaldo.com/static/js/8406.js"></script>

<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=PYEmwKvQAx">
<link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png?v=PYEmwKvQAx" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/favicon/favicon-194x194.png?v=PYEmwKvQAx" sizes="194x194">
<link rel="icon" type="image/png" href="/assets/favicon/android-chrome-192x192.png?v=PYEmwKvQAx" sizes="192x192">
<link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png?v=PYEmwKvQAx" sizes="16x16">
<!--<link rel="manifest" href="/assets/favicon/manifest.json?v=PYEmwKvQAx">-->
<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=PYEmwKvQAx" color="#2E3440">
<link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=PYEmwKvQAx">
<meta name="apple-mobile-web-app-title" content="Guide">
<meta name="application-name" content="Guide">
<meta name="msapplication-TileColor" content="#2E3440">
<meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.png?v=PYEmwKvQAx">
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=PYEmwKvQAx">
<meta name="theme-color" content="#2E3440">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-152619365-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-152619365-1');
</script>

<!-- end custom head snippets -->
