.credits {
	margin-top: 2em;
	display: table;
	width: 50%;
	table-layout: fixed;
	border-spacing: 0.2em;
	margin-left: auto;
	margin-right: auto;

	i {
		font-size: 20px;
		padding-top: 1em;
		margin-left: 5px;
		margin-right: 5px;
	}
}

.user {
	display: table-cell;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	a, a:hover {
		text-decoration: none !important;
	}
	img {
		border-radius: 50%;
		width: 80%;
	}
	h3 {
		margin: 0.3em !important;
	}
	p {
		opacity: 0.65;
		margin-bottom: 0px !important;
	}
}