---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      {% assign split_path = page.path | split: "/" %}
      {% assign locale = split_path[1] %}

      {% for link in site.data.navigation[locale].bottom %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = site.url | append: site.baseurl %}
        {% endif %}
        <div class ="notice">{{ link.title }}</div>
      {% endfor %}

      <hr>

      {{ content }}
    </section>
  </article>

  <hr>

  <center>
      <!-- 728x90/970x90/320x50 -->
      <div id="waldo-tag-8541"></div>
      <hr>
      <!-- 728x90/970x90/320x50 -->
      <div id="waldo-tag-8542"></div>
  </center>
</div>
