.credits {
  margin-top: 2em;
  display: table;
  width: 50%;
  table-layout: fixed;
  border-spacing: 0.2em;
  margin-left: auto;
  margin-right: auto;
}
.user {
  @import url("https://use.fontawesome.com/releases/v5.6.1/css/all.css");
  display: table-cell;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  a, a:hover {
    text-decoration: none !important;
  }
  img {
    border-radius: 50%;
    width: 80%;
  }
  h3 {
    margin: 0.3em !important;
  }
  p {
    opacity: 0.65;
    margin-bottom: 0.3em !important;
  }
}

.version_table {
  th, td {
    text-align: center;
    font-weight: bold;
  }
}

tt,
code,
kbd,
samp,
pre {
  font-family: $monospace;
  border: 1px solid mix(#eaeaea, #262a34, 20%);
}

pre {
  background-color: #252b35 !important;
}

table {
  border: 1px solid #bdc1c4;
}
