/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 1px solid #bdc1c4;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: #3E1C33;
  border-bottom: 1px solid #bdc1c4;
  color: mix(#F6921D, #fff, 80%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid #bdc1c4;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid #bdc1c4;
  border-right: 1px solid #bdc1c4;
}

tr, td, th {
  vertical-align: middle;
}
